[submodule "rpa-elysium"]
	path = rpa-elysium
	url = git@github.com:hyperpolymath/rpa-elysium.git
[submodule "total-upgrade"]
	path = total-upgrade
	url = git@gitlab.com:hyperpolymath/total-upgrade.git
[submodule "total-recall"]
	path = total-recall
	url = git@gitlab.com:hyperpolymath/total-recall.git
[submodule "git-scripts"]
	path = git-scripts
	url = git@github.com:hyperpolymath/git-scripts.git
[submodule "git-reticulator"]
	path = git-reticulator
	url = git@github.com:hyperpolymath/git-reticulator.git
